_fontsource = "/_font/"
_header = "Roboto-Light"
_paragraph = "Roboto-Regular"

fontface(name)
  @font-face 
    font-family name
    src url(_fontsource + name + '.ttf') format('truetype')
    font-weight normal
    font-style normal

/**
 * Declare custom Font
 * fontface(_header)
 */
 fontface("Roboto-Light")
 fontface("Roboto-Regular")

_minFont = 16
_maxFont = 26  
_minWidth = 320
_maxWidth = 1280
_difference = _maxFont - _minFont
