.slider-component
	display inline-flex
	justify-content space-between
	align-items center
	.field-input
		position relative
		width 100%
		margin 0 1em
	label
		position absolute
		width 100%
		left 0
		top calc(50% - .125em)
		height .25em
		border-radius 5px
		background-color $color-dark
		
	input
		width 100%
		background-color transparent
		position relative
			